@font-face  {
  font-family: 'visitor';
  src: font-url('visitor1.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

.navbar li{
  font-family: visitor;
  font-size: 22px;
  margin: 0px 25px 0px 0px;
}

#ui {
  /* background-color: lightgreen; */
  display: inline-block;
  vertical-align:top;
  padding: 8% 0 0 5%;
  width: 50%;
}

#word {
  /* background-color: lightcoral; */
  font-family: visitor;
  font-size: 60px;
  display: table;
  margin: 0 auto;
}

#letter_buttons {
  /* background-color: lightgrey; */
  padding: 10% 0 0 0;
  display: table;
  margin: 0 auto;
  font-family: visitor;
}

.btn.btn-primary {
  margin-right: 5px;
}

#hangman_image_container {
  /* background-color: lightblue; */
  display: inline-block;
  width: 49%;
  overflow: hidden;
}

#hangman_image {
  float: left;
}

.game_buttons {
  text-align: center;
}

#play_again_button {
  display: inline-block;
  font-family: visitor;
}

#new_game_button {
  display: inline-block;
  font-family: visitor;
}

#reveal_word_button {
  font-family: visitor;
}

.game_buttons.g2 {
  margin-top: .5%;
}